@import 'variables.module';

/* Fonts */
@font-face {
  font-family: 'TitleFont';
  src: url('../public/fonts/Sigmar-Regular.ttf');
}

@font-face {
  font-family: 'TextFont';
  src: url('../public/fonts/ShadowsIntoLight-Regular.ttf');
}

@font-face {
  font-family: 'SubtitleFont';
  src: url('../public/fonts/IndieFlower-Regular.ttf');
}

/* Tag standarization */

h1 {
  margin: 0 !important;
  font-family: 'TitleFont';
  font-size: 30px !important;
  @media (min-width: $min-width-tablet) {
      font-size: 45px !important;
  }
  @media (min-width: $min-width-desktop) {
      font-size: 55px !important;
  }
}

h2 {
  margin: 0 !important;
  font-family: 'TitleFont';
  font-size: 20px !important;
  @media (min-width: $min-width-tablet) {
      font-size: 35px !important;
  }
  @media (min-width: $min-width-desktop) {
      font-size: 45px !important;
  }
}

h3, .h3 {
  margin: 0 !important;
  font-family: 'SubtitleFont';
  font-size: 20px !important;
  @media (min-width: $min-width-tablet) {
      font-size: 35px !important;
  }
  @media (min-width: $min-width-desktop) {
      font-size: 45px !important;
  }
}

h5, .h5 {
  margin: 0 !important;
  font-family: 'SubtitleFont';
  font-size: 18px !important;
  @media (min-width: $min-width-tablet) {
      font-size: 22px !important;
  }
  @media (min-width: $min-width-desktop) {
      font-size: 26px !important;
  }
}

span, p, .text {
  color: $black;
  font-family: 'TextFont';
}

.text {
  font-size: 16px !important;
  @media (min-width: $min-width-tablet) {
      font-size: 20px !important;
  }
  @media (min-width: $min-width-desktop) {
      font-size: 24px !important;
  }
}

.small-text {
  font-size: 14px !important;
  @media (min-width: $min-width-tablet) {
      font-size: 16px !important;
  }
  @media (min-width: $min-width-desktop) {
      font-size: 18px !important;
  }
}

/* classes */

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.background-general {
  background-color: whitesmoke;
}

.content-page-container {
  min-height: 83vh;
  padding-top: 100px;
  @media (min-width: $min-width-tablet) {
      min-height: 88vh;
      padding-top: 140px;
  }
  @media (min-width: $min-width-desktop) {
      min-height: 90vh;
      padding-top: 110px;
  }
}